body{
    background-image: url("https://wallpaperset.com/w/full/3/1/9/31130.jpg");
    background-attachment: center;}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin: 75px;
    padding: 100px 0;
    border: 5px lightslategray;
    text-align: center;
}
.hobbies{
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
}
.education{
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
}
.wex{
    border-style: solid;
    border-width: 1px;
    border-color: darkcyan;
}